# IDE and editor files
.idea/
.vscode/

# Logs and temporary files
*.log
*.tmp
tmp.c

# Sensitive information
config.ini
secrets.txt

# Compiled code
*.o
*.d
*.class
a.out

# Generated documentation
docs/

# User-specific files
.DS_Store
._.DS_Store

# Executables and project-specific ignores
minishell
mock
test
mock.c
mock.h
mock2.c
sh.c

# Miscellaneous
markdown
temporary
xv6-public
